


.box {
    width: 256px;
    height: 256px;
    background: url('https://github.com/iamalperen/playground/blob/main/SpriteSheetAnimation/sprite.png?raw=true');
    margin-top: 30px;
    cursor: pointer;
    animation: sprite 0.75s steps(6) infinite;
}

@keyframes sprite {
    from { background-position: 0px 0px;}
    to { background-position: -1536px 0px;}
}



